body {
  color: white;
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: lightpink;
}

main {
  display: grid;
  grid-template-columns: 355px 1fr;
}

.stage {
  height: 100vh;
  position: relative;
}

.blob {
  padding: 20px;
  margin: 10px;
  max-width: 75%;
  color: dimgray;
  background: rgba(255, 255, 255, 0.6);
  display: block;
  width: 100%;
  opacity: 0;
  transform: scale(0.5);
  transition: all 300ms;
}

.blob.active {
  opacity: 1;
  transform: scale(1);
}

.turd {
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  margin-bottom: 400px;
}

h1 {
  font-family: "Cousine", monospace;
  font-size: xx-large;
  text-align: center;
}

h3, p {
  font-family: "Playfair Display", serif;
  text-align: center;
}

.small {
  font-family: "Playfair Display", serif;
  font-size: small;
  text-align: center;
}

.route {
  stroke-dasharray: 419.1141357421875;
  stroke-dashoffset: 419.1141357421875;
  animation: sign 8s ease;
  animation-fill-mode: forwards;
  position: fixed;
  width: 50px;
  bottom: 0;
  left: 30px;
}

@keyframes sign {
  to {
    stroke-dashoffset: 0;
  }
}

.bgimage {
  width: auto;
  height: 100%;
  position: fixed;
}

/* Mobile Rules */ 
@media (max-width: 375px) {
  main {
    display: inline;
  }

  mobile-center {
    margin-left: auto;
    margin-right: auto;
  }

  .bgimage {
    width: 375px;
    height: 100%;
    position: fixed;
  }

  .route {
    width: 59px;
  }
}